{% extends 'base.html'%} {% load staticfiles%}
{% block content%}


<header>

</header>


<section class=" text-center" style="height:3em;">
  <div class="container bg-light">
    <h2>Book Detail: </h2>
  </div>
</section>

<a class="nav-item nav-link mb-4" href="{% url 'book-list' %}"> &vltri; Book List </a>


<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>&nbsp;</th>
        <th>Year Written</th>
        <th>Year Read</th>
        <th>Category</th>
        <th>Pages</th>
        <th>Enjoyment</th>
      </tr>
    </thead>
    <tbody>


      <tr>
        <td>
          {{object.title}} </td>
        <td>{{ object.author}}
          {{ object.last_name }}</td>
        <td>{{ object.first_name }} </td>
        <td>{{object.year_written}}</td>
        <td>{{object.year_read}}</td>
        <td>{{object.category}} - {{object.subcategory}}</td>
        <td>{{object.standard_pages}}</td>
        <td>{{object.enjoyment}}</td>
      </tr>

    </tbody>
  </table>
  <nav class="navbar  navbar-expand-sm   justify-content-left py-2">
    <ul class="navbar-nav py-0">
      <li class="nav-item px-3">
        <a class="btn btn-primary" href="{% url 'book-update' object.id %}">Update this book</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'book-delete' object.id %}">Delete this book</a>
      </li>
    </ul>
  </nav>

</div>

</div>




{%endblock content%}