{% extends 'base.html'%} {% load staticfiles %} {% block content%}

<script src="{% static 'columnSort.js' %}"></script>
<script src="{% static 'search.js' %}"></script>
<div class="row col-xs-6 mt-4">
    <div class="col-9">
        <h3 class="reportTitle">Book Counts by Author</span>
        </h3>
    </div>
    <div class="col-3">
        <input class="col-xs-3 mt-4" id="mySearchTerm" type="text" placeholder="Search...">
    </div>
</div>
<div class="container">
    <table id="myTable" class="table table-bordered table-hover  table-responsive sortable">
        <thead>
            <tr>
                <th>Author</th>
                <th>Distinct Titles</th>
                <th>Number of Readings</th>
                <th>Total Pages Read</th>

            </tr>
        </thead>

        <tbody>
            {% for row in rows %}

            <tr>
                <!--padding-top 6, bottom 1 -->

                <td>
                    {{row.0}}{% if row.1 != "" %}, {{row.1}} {% endif %}
                </td>
                <td>
                    {{row.2}}
                </td>
                <td>
                    {{row.3}}
                </td>
                <td>
                    {{row.4}}
                </td>
            </tr>



            {% endfor %}
    </table>
</div>
<div id="filterResult" style="margin-top:10px "></div>
</div>
<br />
<br /> Total books: {{rows|length}}
<br />


<pre>{{ report }}</pre>
<h4>TEST:{{test}}</h4>
{% endblock %}