{% extends 'base.html'%} {% load staticfiles%}
{% load humanize %}
{% block content%}
<script src="{% static 'columnSort.js' %}">
</script>
<a class="nav-item nav-link mb-4" href="{% url 'resort-list' %}"> &vltri; Resort List </a>
<div class="container border">
  <div class="row">
    <div class="col-md-12 border">
      <div class="content-section">
        <legend class=" border-bottom mb-4">Resort Details</legend>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token%}
          <fieldset class="form-group">
            <table class="formTable">
              {{form.as_table}}
            </table>
          </fieldset>

          <div class="form-group">
            {% if perms.reading.change_book%}<br />
            <button class="btn btn-primary btn-lg" type="submit">Save</button>
            {%endif%}
            {% if object.id and perms.skiing.delete_resort%}
            <a class="btn btn-warning btn-sm mt-2 mb-2" style="margin-left:7em;"
              href="{% url 'resort-delete' object.id %}">Delete this resort</a>
            {%endif%}
          </div><!-- end div form-group-->
        </form>
      </div>
      <!-- end div content-section-->
    </div><!-- end first col-->
    <div class="col-md-6">
      <div class="card-footer">
        <table id="myTable" class="table table-bordered table-hover  table-responsive sortable">
          <tr>
            <th width="40%">Date</th>
            <th width="20%">Vertical<br />Feet</th>
            <th width="15%">Top</br>Speed</th>
            <th width="15%">Miles</th>
          </tr>
          {% for skiday in resort.skidays.all %}
          <tr>
            <td> <a class="article-title" href="{% url 'skiday-update' skiday.id %}">
                {{skiday.skidate}}
              </a></td>
            <td>{% if skiday.vertical_feet %} {{skiday.vertical_feet|intcomma}} {%else %} - {%endif%}</td>
            <td>{% if skiday.top_speed %} {{skiday.top_speed}} {%else %} - {%endif%}</td>
            <td>{% if skiday.miles %} {{skiday.miles}} {%else %} - {%endif%}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <!--end div card-footer-->
    </div>
    <!--end div col-->
  </div>
  <!--end div row-->
</div>
<!--end div container-->

{%endblock content%}