{% extends 'base.html'%} {% load staticfiles %} {% block content%}
{% load humanize %}
<script src="{% static 'columnSort.js' %}"></script>
<script src="{% static 'search.js' %}"></script>
<div class="row col-xs-6 mt-4">
    <div class="col-9">
        <h3 class="reportTitle">Ski Days by Year</span>
        </h3>
    </div>
</div>
<div class="container">
    <table id="myTable" class="table table-bordered table-hover sortable">

        <thead>
            <tr>
                <th>Year</th>
                <th>Ski Days</th>
                <th>Resorts</th>
                <th>Total<br />Vertical Feet Tracked</th>
                <th>Average<br />Vertical Feet<br />Tracked</th>
                <th>Total<br />Miles<br />Tracked</th>
                <th>Max Speed<br />Tracked</th>


            </tr>
        </thead>

        <tbody>

            {% for row in rows %}

            <tr>
                <!--padding-top 6, bottom 1 -->
                <td>
                    {{row.0}}
                </td>
                <td>
                    {{row.1}}
                </td>
                <td>
                    {{row.2}}
                </td>
                <td>
                    {{row.3|floatformat:0|intcomma}}
                </td>
                <td>
                    {{row.4|floatformat:0|intcomma}}
                </td>
                <td>
                    {{row.5|floatformat:1|intcomma}}
                </td>
                <td>
                    {{row.6|floatformat:1|intcomma}}
                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>
    <div id="filterResult" style="margin-top:10px "></div>
</div>

<h5>Years skied: {{rows|length}}</h5>
<h5>Total days: {{total}}</h5>


<pre>{{ report }}</pre>

{% endblock %}